.homecont {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 175px;
  flex-direction: column; /* Added to stack the content vertically */
}
